* {
  margin: 0px;
  padding: 0px;
}

#head {
  border: 2px solid black;
}
.class {
  border: 1px solid black;
  height: 200px;
  width: 200px;
}
#red {
  background-color: red;
}
#green {
  background-color: green;
  margin-left: 210px;
  margin-top: -202px;
}
#blue {
  background-color: blue;
  margin-left: 420px;
  margin-top: -201px;
}
#black {
  background-color: black;
  margin-left: 630px;
  margin-top: -202px;
}
