* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: black;
}
h1 {
  color: white;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  border: 2px solid black;
  padding: 21px;
}
.classbox {
  border: 2px solid black;
  height: 100px;
  width: 100px;
}
#c01 {
  background-color: gray;
  margin-left: 510px;
}
#c02 {
  background-color: rgb(47, 176, 156);
  margin-left: 620px;
  margin-top: -103px;
}
#c03 {
  background-color: rgb(59, 167, 58);
  margin-left: 730px;
  margin-top: -103px;
}
#c04 {
  background-color: rgb(0, 128, 1);
  margin-left: 840px;
  margin-top: -103px;
}
#c05 {
  background-color: rgb(218, 214, 213);
  margin-left: 950px;
  margin-top: -103px;
}
.classbox2 {
  border: 2px solid black;
  height: 100px;
  width: 100px;
}
#d01 {
  background-color: rgb(239, 100, 33);
  margin-left: 400px;
  margin-top: 21px;
}
#d02 {
  background-color: rgb(165, 43, 42);
  margin-left: 510px;
  margin-top: -103px;
}
#d03 {
  background-color: rgb(235, 169, 205);
  margin-left: 620px;
  margin-top: -103px;
}
#d04 {
  background-color: rgb(87, 86, 179);
  margin-left: 730px;
  margin-top: -103px;
}
#d05 {
  background-color: rgb(23, 23, 183);
  margin-left: 840px;
  margin-top: -103.8px;
}
#d06 {
  background-color: rgb(49, 50, 117);
  margin-left: 950px;
  margin-top: -103px;
}
#d07 {
  background-color: rgb(128, 128, 128);
  margin-left: 1060px;
  margin-top: -103px;
}
.classbox3 {
  border: 2px solid black;
  height: 100px;
  width: 100px;
}
#e01 {
  background-color: rgb(35, 183, 183);
  margin-left: 290px;
  margin-top: 21px;
}
#e02 {
  background-color: rgb(172, 198, 39);
  margin-left: 400px;
  margin-top: -103px;
}
#e03 {
  background-color: rgb(195, 102, 45);
  margin-left: 510px;
  margin-top: -103px;
}
#e04 {
  background-color: rgb(124, 10, 70);
  margin-left: 620px;
  margin-top: -103px;
}
#e05 {
  background-color: rgb(58, 7, 82);
  margin-left: 730px;
  margin-top: -103px;
}
#e06 {
  background-color: rgb(0, 255, 255);
  margin-left: 840px;
  margin-top: -103px;
}
#e07 {
  background-color: rgb(51, 191, 192);
  margin-left: 950px;
  margin-top: -103px;
}
#e08 {
  background-color: rgb(22, 140, 190);
  margin-left: 1060px;
  margin-top: -103px;
}
#e09 {
  background-color: rgb(96, 63, 116);
  margin-left: 1170px;
  margin-top: -103px;
}
