*{
    margin: 0px;
    padding: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;

}
#parent1{
    display: flex;
    justify-content:space-evenly;
}

#head1{
    text-align: center;
    font-weight: normal;
    padding: 50px;
}

.f1{
    height: 150px;
    width: 150px;
    border: 5px solid black;
    border-radius: 50%;
    
}
#head2{
    text-align: center;
    font-weight: normal;
    padding: 40px;
}
#parent2{
    display: flex;
    justify-content: space-evenly;
}
p{
    text-align: center;
    font-weight: lighter;
    margin-top: -20px;
    
}
.f2{
    height: 200px;
    width: 200px;
    padding: 40px;

}




